* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  background-color: rgb(250, 238, 216); 
  background-image: url(assets/background.png);
  background-size: 10vw;
  text-align: center;
}

button:focus, input:focus {
  outline: none !important;
  box-shadow: 1px 1px 5px gray;
}
#username-container {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  padding-top: 15%;
}

#username {
  background-color:  rgb(155, 196, 160);
  width: 30%;
  min-width: 200px;
  height: max-content;
  min-height: 100px;
  margin: auto;
  box-shadow: 1px 1px 5px gray;
  border-radius: 5px;
  font-size: 1em;
  padding: 3%;
  
}
#new-user-input {
  border: none;
  margin-top: 4%;
  width: 80%;
  line-height: 30px;
  border-radius: 5px;
 
}

#username button {
  border: none;
  margin-top: 20px;
  background-color:tomato;
  border-radius: 5px;
  width: 50%;
  line-height: 25px;
  /* background-image: url(background.png);
  background-size: 30px; */
  letter-spacing: 5px;
  border-radius: 2px;
  color: white;
}
#username button:hover {
  cursor: pointer;
}
#container {
  margin: auto;
  background-color: rgb(250, 238, 216);
  position: relative;
  height: min-content;
  /* width: max-content; */
  max-width: 75vw;
  text-align: center;
  margin-top: 3vh;
  
  display: none;
  box-shadow: 1px 1px 5px gray;
  padding:10px;
  border-radius: 2px;
}
#game {
  display: inline-block;
  width: min-content;
  margin: auto;
  
}
#canvasAndSlide {
  position: relative;
  background-color: transparent;
  margin: auto;
  width: max-content;
  border-radius: 3px;
}
canvas {
  background-color: rgb(155, 196, 160);
  display: inline-block;
}

#speedSlider {
  display: inline-block;
  width: 50px;
  background-color: white;
  position: relative;
}

#slide {
  background-color: red;
  width: 50px;
  height: 0px;
  opacity: .5;
  position: absolute;
  bottom: 0;
}

#leaderboardContainer {
  display: inline-block;
  vertical-align: top;
  width: 50vh;
  max-width: 200px;
  margin-top: 4vh;
  overflow: hidden;
}

#leaderboard {
  position: relative;
  height: 50%;
  background-color: rgb(218, 243, 190);
  margin: 10px;
  margin-top: 0;
  overflow: hidden;
}
#userScore {
  position: relative;
  height: 50%;
  background-color: bisque;
  margin: 10px;
  overflow: hidden;
}

#leaderboardList {
  overflow-y: scroll;
  height: 80%;
  margin: 0;
}

#userScoreList {
  overflow-y: scroll; 
  height: 80%;
  margin: 0;
}


#controlContainer {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  height: 50px;
}
#control{
  margin: auto;
  background-color: tomato;
  width: 100%;
  /* height: 35px; */
  border-radius: 2px;
  font-size: 2em;
  letter-spacing: 4px;
  color: white;
  vertical-align: middle;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
#control:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
}
#control:active {
  box-shadow: 1px 1px 5px grey;

}

#gameStats{
  height: 4vh;
  margin: auto;
}

#gameStats h1 {
  font-size: 2vh;
  display: inline-block;
  font-weight: 400;
}

#score {
  margin-right: 25%;
}

#loading img{
  height: 3vh;
}

#throw-count, #instructions {
  font-size: 2vh;
}

#instructions {
  margin: 1vh;
  height: 7vh;
}

#instructions span{
  font-size:  2vh;
  padding: 5px;
}

#blue-square {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: lightblue;
}

#salmon-square {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: salmon;
}

#red-square{
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: red;
}

#toggle-music {
  height: 10px;
  width: 10px;
  background-color: lightblue;
  border-radius: 5px;
}

#toggle-music:hover {
  cursor: pointer;
}
#toggle-fx {
  height: 10px;
  width: 10px;
  background-color:  rgb(218, 243, 190);
  border-radius: 5px;
}

#toggle-fx:hover {
  cursor: pointer;
}

h3, h2{
  margin: 0;
}

li {
  margin: 4px;
}

#plane {
  display: none;
}

#wind{
  display: none;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}