/* #game {
  
  position: relative;
  width: 800;
  height: 500;


} */
canvas {
  background-image:url(grass.jpg);
  background-size: 200px;
}

#speedSlider {
  height: 50px;
  
  background-color: black;
}

#slide {
  background-color: red;
  height: 50px;
  width: 0px;
  opacity: .5;
}

#plane {
  height: 1px;
  width: 1px;
}

#wind{
  height: 1px;
  width: 1px;
}

#score h1{
  display: inline-block;
  margin: 0;
}